# Salin file ini menjadi .env dan isi dengan nilai yang sesuai
# Jangan commit file .env ke Git!

DB_URL=jdbc:mysql://localhost:3306/tiket_booking?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=password_anda_disini
